# Load Screen Sounds Configuration
#
# You can use either 
# 1) strings pointing to a supported audio file type or 
# 2) the selected game's own internal sound commands specified by command #
#
# Internal sound commands are prefaced with letter S plus either hex or decimal notation
# for the command #.
#
# If you want to use the defaults, leave the entry blank.
#
# Load Sound Event Names are: STARTUP, MUSIC, PROGRESS, DONE
#
# Examples:
#
# STARTUP  = /pb2kres/sounds/intro.wav		(specified a file name & path)
# MUSIC    = S0x20a				(specified internal command by hex #) 
# PROGRESS = S152				(specified internal command by dec #)
# DONE     = 					(left blank to use the default)
###############################################################################################

STARTUP  = 
MUSIC    = 
PROGRESS = 
DONE     = 
