# Config Menu Sounds Configuration
#
# You can use either 
# 1) strings pointing to a supported audio file type or 
# 2) the selected game's own internal sound commands specified by command #
#
# Internal sound commands are prefaced with letter S plus either hex or decimal notation
# for the command #.
#
# If you want to use the defaults, leave the entry blank.
#
# Config Menu Event Names are: STARTUP, MUSIC, SELECT, CANCEL, FORWARD, BACKWARD, DONE
#
# Examples:
#
# STARTUP  = /pb2kres/sounds/intro.wav		(specified a file name & path)
# MUSIC    = S0x20a				(specified internal command by hex #) 
# SELECT   = S152				(specified internal command by dec #)
# CANCEL   = /pb2kres/sounds/cancel.wav		(specified a file name & path)
# FORWARD  = S001				(specified internal command by dec #)
# BACKWARD = S0x012				(specified internal command by hex #) 
# DONE     = 					(left blank to use the default)
###############################################################################################

STARTUP  = 
MUSIC    = 
SELECT   = S0x3d6
CANCEL   = S0x3d7
FORWARD  = S0x3d4
BACKWARD = S0x3d5
DONE     = 
